*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #0A0A0A;
  height: 113px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #717171;
  height: 113px;
}

.header__links-item+.header__links-item {
  margin-left: 30px;
}

.logo {
  margin-right: 14px;
}

.image {
  background: #F5F5F7;
}

.image__inner {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.image__title {
  text-align: center;
  margin-top: 71px;
  margin-bottom: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #490E84;
}

.image__phone {
  max-width: 937px;
  width: 100%;
}

.btn-set {
  margin-top: 25px;
  margin-bottom: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  width: 350px;
  height: 70px;
  background: #490E84;
  border-radius: 30px;
}

.what-new__title {
  margin-top: 87px;
  margin-bottom: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #717171;
  text-align: center;
}

.what-new__wrapper {
  display: flex;
  align-items: center;
}

.what-new__text {
  max-width: 560px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #0A0A0A;
}

.what-new__text+.what-new__text {
  margin-top: 30px;
}

.what-new__text-bolt {
  margin-top: 30px;
  max-width: 560px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #0A0A0A;
}

.what-new__img {
  margin-left: 191px;
  height: 350px;
  width: 370px;
}

.get-color {
  margin-top: 140px;
}

.get-color__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #717171;
  margin-bottom: 50px;
}

.get-color__cards-wrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
}

.get-color__card-item {}

.get-color__img {
  width: 240px;

}

.get-color__color-text-bolt {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #0A0A0A;
}

.get-color__color-text {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #0A0A0A;
}



.form {
  margin-top: 150px;
}

.form__inner {
  display: flex;
}

.form__wrapper {
  min-width: 600px;
  background: #574B63;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

.form__title {
  width: 100%;
  margin-top: 137px;
  margin-bottom: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

.form__site {
  display: flex;
  flex-direction: column;
}

.form__input-phone,
.form__input-name {
  background: #574B63;
  border: none;
  border-bottom: 1px solid #F5F5F5;
  padding-bottom: 10px;
  outline: none;
  margin-bottom: 30px;
  min-width: 400px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.5;
}

.form__input-phone::placeholder,
.form__input-name::placeholder {
  opacity: 1;
  color: #FFFFFF;
}

.form__callback {
  text-align: center;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  opacity: 0.5;
}

.form__button {
  border: none;
  margin-top: 16px;
  border-radius: 30px;
  min-width: 240px;
  height: 50px;
}

.footer {
  background: #0A0A0A;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.footer__politics {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #717171;
}

.footer__phone {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #717171;
}

@media (max-width: 1220px) {
  .header__inner{
    font-size: 20px;
  }

  .image__title {
    font-size: calc(5vw);
  }

  .form__img {
    width: 100%;
  }
  .form__inner{
    flex-direction: column;
  }
  .form__button {
    margin-bottom: 16px;
  }
}

@media (max-width: 1050px) {
  .get-color__cards-wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 33%;
  }
  .get-color__img{
    margin-top: 12px;
  }
}

@media (max-width: 800px) {
  .header__inner{
    font-size: 14px;
  }
  .what-new__wrapper {
    flex-direction: column;
  }
  .what-new__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .what-new__img{
    margin: 0;
    max-width: 370px;
    max-height: 350px;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 650px) {
.form__wrapper {
    min-width: 260px;
  }
}

@media (max-width: 600px) {
  .footer__inner{
    flex-direction: column;
  }
  .footer__politics{
    padding: 12px;

  }
  .footer__phone{
    padding-bottom: 12px;
    font-size: 16px;
  }

}

@media (max-width: 500px) {
  .image__title{
    margin-top: 0;
    margin-bottom: 0;
  }
  .header__inner{
    flex-direction: column;
    font-size: 12px;
  }

  .form__input-phone, 
.form__input-name {
  min-width: 240px;

}

}

@media (max-width: 400px) {
.btn-set {
  width: 100%;
  height: 48px;
  font-size: 16px;
}

.form__input-phone, 
.form__input-name {
  min-width: 240px;

}

}